.m-code {
    position:fixed;
    display:flex;
    bottom:0;
    width:100%;
    height:400px;
    &_hidBtn {
        position:absolute;
        bottom:400px;
        left:50%;
        background:#33eeee;
        font-size:30px;
        cursor:pointer;
    }
    .g-panel {
        flex:1;
        height:100%;
        background: #eeeeee;
        border:1px solid #fff;
    }
}
body {
    padding-bottom:400px;
}