@import 'base/base';

.u-triangle {
    display:inline-block;
    width:0;
    height:0;
    &.z-up {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid red;
    }
    &.z-down {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid red;
    }
    &.z-left {
        border-top: 50px solid transparent;
        border-right: 100px solid red;
        border-bottom: 50px solid transparent;
    }
    &.z-right {
        border-top: 50px solid transparent;
        border-left: 100px solid red;
        border-bottom: 50px solid transparent;
    }
    &.z-topleft {
        border-top: 100px solid red;
        border-right: 100px solid transparent;
    }
    &.z-topright {
        border-top: 100px solid red;
        border-left: 100px solid transparent;
    }
    &.z-bottomleft {
        border-bottom: 100px solid red;
        border-right: 100px solid transparent;
    }
    &.z-bottomright {
        border-bottom: 100px solid red;
        border-left: 100px solid transparent;
    }
}